<% primary_text = local_assigns[:publish].presence ? t('dashboard.work_form.actions.publish') : t('dashboard.work_form.actions.save_and_continue') -%>

<footer class="footer footer--actions footer--fixed d-flex justify-content-center">
  <%= form.button t('dashboard.work_form.actions.save_and_exit'), name: 'save_and_exit', class: 'btn btn-outline-primary btn--rounded' %>
  <div>
    <%= link_to t('dashboard.work_form.actions.cancel'), dashboard_root_path, class: 'btn btn-outline-dark btn--rounded' %>
    <%= form.submit primary_text, class: 'btn btn-primary btn--rounded ml-2' %>
  </div>
</footer>
