<% if form.object.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <h5 class="alert-heading h3"><%= heading %></h5>

    <hr class="my-2">
    <ul>
      <% form.object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
