---
http_interactions:
- request:
    method: post
    uri: https://psu.libanswers.com/api/1.1/oauth/token
    body:
      encoding: UTF-8
      string: client_id=ABCDEFG&client_secret=abcdefg123456&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Backend-Server:
      - libanswers-us-1.springyaws.com
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"abcdefg1234567","expires_in":86400,"token_type":"Bearer","scope":"app_view
        app_create app_update"}'
  recorded_at: Wed, 07 Feb 2024 21:16:00 GMT
- request:
    method: post
    uri: https://psu.libanswers.com/api/1.1/ticket/create
    body:
      encoding: UTF-8
      string: quid=5477&pquestion=&pname=Test Tester&pemail=test1@psu.edu
        message.
    headers:
      Authorization:
      - Bearer abcdefg1234567
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json
      X-Backend-Server:
      - libanswers-us-3.springyaws.com
    body:
      encoding: UTF-8
      string: '{"error": "Error saving ticket."}'
  recorded_at: Wed, 07 Feb 2024 21:16:00 GMT
recorded_with: VCR 6.1.0
