---
http_interactions:
- request:
    method: get
    uri: https://metadata.libraries.psu.edu/v1/publications?doi=https://doi.org/10.1038/abcdefg1234567
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - asdfg123456
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2174c2c28afe598b6a79ee4c1945d76b"
    body:
      encoding: UTF-8
      string: '{
          "data": [
            {
              "id": "123",
              "type": "publication",
              "attributes": {
                "title": "A Scholarly Research Article",
                "secondary_title": "A Comparative Analysis",
                "journal_title": "An Academic Journal",
                "publication_type": "Academic Journal Article",
                "publisher": "A Publishing Company",
                "status": "Published",
                "volume": "30",
                "issue": "12",
                "edition": "6",
                "page_range": "110-123",
                "authors_et_al": true,
                "abstract": "A summary of the research",
                "doi": "https://doi.org/example",
                "preferred_open_access_url": "https://example.org/articles/article-123.pdf",
                "published_on": "2010-12-05",
                "citation_count": 50,
                "supplementary_url": "https://blog.com/post",
                "contributors": [
                  {
                    "first_name": "Anne",
                    "middle_name": "Example",
                    "last_name": "Contributor",
                    "psu_user_id": "abc1234"
                  },
                  {
                    "first_name": "Joe",
                    "middle_name": "Fakeman",
                    "last_name": "Person",
                    "psu_user_id": "def1234"
                  },
                  {
                    "first_name": "Another",
                    "middle_name": "Fake",
                    "last_name": "Contributor",
                    "psu_user_id": ""
                  }
                ],
                "tags": [
                  {
                    "name": "A Topic",
                    "rank": 1.25
                  }
                ],
                "pure_ids": [
                  "abc-def-123-456"
                ],
                "activity_insight_ids": [
                  "1234567890"
                ],
                "profile_preferences": [
                  {
                    "user_id": 123,
                    "webaccess_id": "abc123",
                    "visible_in_profile": true,
                    "position_in_profile": 8
                  }
                ]
              }
            }
          ]
        }'
  recorded_at: Wed, 13 Mar 2024 20:57:15 GMT
recorded_with: VCR 6.1.0
