---
http_interactions:
- request:
    method: get
    uri: https://search-service.k8s.psu.edu/search-service/resources/people?text=wead
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd-psu.edu-v1+json
      X-Content-Security-Policy:
      - frame-ancestors 'none'
      Uniqueid:
      - 14f969e05b66b83206d62a6ddd5a3148
    body:
      encoding: UTF-8
      string: '[{"userid":"agw13","cprid":"2784093","givenName":"Adam","middleName":"Garner","familyName":"Wead","preferredGivenName":"Adam","preferredFamilyName":"Wead","active":true,"confHold":false,"universityEmail":"agw13@psu.edu","serviceAccount":false,"affiliation":["MEMBER"],"link":{"href":"https://dev.apps.psu.edu/cpr/resources/2784093"},"displayName":"Adam
        Wead"},{"userid":"azw166","cprid":"6559108","givenName":"Amy","familyName":"Weader","active":true,"confHold":false,"universityEmail":"azw166@psu.edu","serviceAccount":false,"affiliation":["STAFF"],"link":{"href":"https://dev.apps.psu.edu/cpr/resources/6559108"},"displayName":"Amy
        Weader"}]'
  recorded_at: Tue, 25 Jan 2022 15:52:45 GMT
recorded_with: VCR 6.0.0
