---
http_interactions:
- request:
    method: post
    uri: https://psu.libanswers.com/api/1.1/oauth/token
    body:
      encoding: UTF-8
      string: client_id=ABCDEF123&client_secret=abcdefghijk1234567&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Backend-Server:
      - libanswers-us-2.springyaws.com
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"abcdefghijk1234567","expires_in":86400,"token_type":"Bearer","scope":"app_view
        app_create app_update"}'
  recorded_at: Thu, 08 Feb 2024 18:06:59 GMT
- request:
    method: post
    uri: https://psu.libanswers.com/api/1.1/ticket/create
    body:
      encoding: UTF-8
      string: quid=5477&pquestion=Test Subject&pname=Samual Halvorson&pemail=DfP002@psu.edu&pdetails=Consequatur
        ut vel. Ut laborum praesentium. Harum itaque eos.
    headers:
      Authorization:
      - Bearer abcdefghijk1234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Backend-Server:
      - libanswers-us-5.springyaws.com
    body:
      encoding: ASCII-8BIT
      string: '{"isShared":false,"ticketUrl":"\/admin\/ticket?qid=13162084","claimed":0}'
  recorded_at: Thu, 08 Feb 2024 18:07:00 GMT
recorded_with: VCR 6.1.0
