---
http_interactions:
- request:
    method: get
    uri: https://identity.apps.psu.edu/search-service/resources/people/userid/agw13
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd-psu.edu-v1+json
      Uniqueid:
      - 1cb3b461-dfce-4ade-8df7-4e1e44bbc9f1
      X-Content-Security-Policy:
      - frame-ancestors 'none'
    body:
      encoding: UTF-8
      string: '{"userid":"agw13","cprid":"2784093","givenName":"Adam","middleName":"Garner","familyName":"Wead","preferredGivenName":"Adam","preferredFamilyName":"Wead","active":true,"confHold":false,"universityEmail":"agw13@psu.edu","affiliation":["STAFF"],"displayName":"Adam
        Wead","link":{"href":"https://dev.apps.psu.edu/cpr/resources/2784093"}}'
  recorded_at: Tue, 14 Apr 2020 17:59:04 GMT
recorded_with: VCR 5.0.0
