# Get values from vault
# vault kv get secret/devteam/scholarsphere
export OAUTH_APP_ID=
export OAUTH_APP_SECRET=
export OAUTH_APP_URL=
export OAUTH_AUTHORIZE_URL=
export OAUTH_TOKEN_URL=
export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=
export AWS_BUCKET=
export AWS_REGION=
export S3_ENDPOINT=
export POSTGRES_HOST=
export POSTGRES_PASSWORD=
export REDIS_PASSWORD=
export SOLR_PORT=
export SOLR_USERNAME=
export SOLR_PASSWORD=
export POSTGRES_USER=
export POSTGRES_DB=
export POSTGRES_PORT=
export DIRECTORY_SERVICE_ENDPOINT=
export PSU_ID_OAUTH_CLIENT_ID=
export PSU_ID_OAUTH_CLIENT_SECRET=
export PSU_ID_OAUTH_ENDPOINT=
export DATACITE_ENDPOINT=
export DATACITE_PASSWORD=
export DATACITE_PREFIX=
export DATACITE_PUBLISHER=
export DATACITE_USERNAME=
export RMD_API_KEY=
export RMD_WEBHOOK_SECRET=
export RMD_HOST=
export ADOBE_CLIENT_ID=
export ADOBE_CLIENT_SECRET=
export SECRET_KEY_BASE=
export AZURE_GRAPH_GROUPS=
export PSU_AFFILIATED_GROUP=
export ADMIN_GROUP=

# If using minio in dev and test env:
export AWS_SDK_CONFIG_OPT_OUT=true
