version: '3.5'
services:
  web:
    tty: true
    stdin_open: true
    environment:
      POSTGRES_DB: scholarsphere
      POSTGRES_USER: scholarsphere
      POSTGRES_PASSWORD: scholarsphere
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID:-scholarsphere}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY:-scholarsphere}
      S3_ENDPOINT: http://minio:${MINIO_PORT:-9000}
      RAILS_ENV: development
      SOLR_HOST: solr
      SOLR_COLLECTION: scholarsphere
      POSTGRES_HOST: db
    build: 
      context: . 
      target: base
    volumes:
    # This is an empty volume to prevent empty dir bind it's way into the container
    - /app/vendor/bundle
    - /app/node_modules
    - type: bind
      source: ./
      target: /app/
    ports:
      - "3000:3000"
  minio:
    image: minio/minio:latest
    restart: always
    volumes:
    - minio-data:/data
    environment: 
      MINIO_ACCESS_KEY: ${AWS_ACCESS_KEY_ID:-scholarsphere}
      MINIO_SECRET_KEY: ${AWS_SECRET_ACCESS_KEY:-scholarsphere}
    ports:
    - ${MINIO_PORT:-9000}:9000
    entrypoint:
    - /bin/sh
    - -c 
    - mkdir -p /data/scholarsphere; minio --compat server --address ':9000' /data
  solr:
    image: solr:8.2.0-slim
    restart: always
    volumes:
    - solr-data:/var/solr
    ports:
    - 8983:8983
    command: [
      "solr-foreground",
      "-DzkRun"
    ]

  adminer:
    image: adminer
    restart: always
    ports:
    - "8080:8080"
  db:
    environment:
      POSTGRES_PASSWORD: scholarsphere
      POSTGRES_USER: scholarsphere
      POSTGRES_DB: scholarsphere
    image: postgres:10
    ports:
    - "5432:5432"
    volumes:
    - db-data:/var/lib/postgresql/data

volumes:
  bundle-data:
  minio-data:
  solr-data:
  db-data:
