x-web_env: &web_env
  environment:
      REDIS_HOST: redis
      SOLR_USERNAME: scholarsphere
      SOLR_PASSWORD: scholarsphere
      BUNDLE_DEFAULT_INSTALL_USES_PATH: vendor/bundle
      REDIS_PASSWORD: redispassword
      OAUTH_APP_ID: ${OAUTH_APP_ID}
      OAUTH_APP_SECRET: ${OAUTH_APP_SECRET}
      DEFAULT_URL_HOST: ${DEFAULT_URL_HOST:-web}
      SELENIUM_URL: http://selenium:4444/wd/hub
      APP_HOST: web
      OAUTH_APP_URL: ${OAUTH_APP_URL}
      OAUTH_TOKEN_URL: ${OAUTH_TOKEN_URL}
      OAUTH_AUTHORIZE_URL: ${OAUTH_AUTHORIZE_URL}
      POSTGRES_DB: scholarsphere
      POSTGRES_USER: scholarsphere
      POSTGRES_PASSWORD: scholarsphere
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID:-scholarsphere}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY:-scholarsphere}
      AWS_BUCKET: scholarsphere
      AWS_REGION: us-east-1
      S3_ENDPOINT: ${S3_ENDPOINT:-http://docker.for.mac.localhost:9000}
      RAILS_ENV: ${RAILS_ENV:-development}
      SOLR_HOST: solr
      SOLR_COLLECTION: scholarsphere
      POSTGRES_HOST: db
      AZURE_GRAPH_GROUPS: ${AZURE_GRAPH_GROUPS}
      ADMIN_GROUP: ${ADMIN_GROUP}
      PSU_AFFILIATED_GROUP: ${PSU_AFFILIATED_GROUP}
      PDF_REMEDIATION_ENDPOINT: ${PDF_REMEDIATION_ENDPOINT}
      PDF_REMEDIATION_API_KEY: ${PDF_REMEDIATION_API_KEY}
services:
  redis:
    image: redis:6.2.6
    command: redis-server --requirepass redispassword
    volumes:
      - redis-data:/data
    ports:
    - "6379:6379"
  web:
    tty: true
    stdin_open: true
    <<: *web_env
    build:
      context: .
      target: dev
    volumes:
    - bundle-data:/app/vendor/bundle
    - node-data:/app/node_modules
    - type: bind
      source: ./
      target: /app
    ports:
      - "3000:3000"
  minio:
    image: minio/minio:RELEASE.2021-03-17T02-33-02Z
    restart: always
    volumes:
    - minio-data:/data
    environment:
      MINIO_ACCESS_KEY: ${AWS_ACCESS_KEY_ID:-scholarsphere}
      MINIO_SECRET_KEY: ${AWS_SECRET_ACCESS_KEY:-scholarsphere}
    ports:
    - ${MINIO_PORT:-9000}:9000
    entrypoint:
    - /bin/sh
    - -c
    - mkdir -p /data/scholarsphere; minio --compat server --address ':9000' /data
  solr:
    image: solr:8.11.1-slim
    restart: always
    environment:
      SOLR_STOP_WAIT: 10
      SOLR_USERNAME: scholarsphere
      SOLR_PASSWORD: scholarsphere
      SOLR_HOME: /var/solr/data
    volumes:
    - solr-data:/var/solr/data
    ports:
    - ${SOLR_PORT:-8983}:8983
    command: [
      "/bin/bash",
      "-c",
      "solr -c && solr auth enable -credentials $$SOLR_USERNAME:$$SOLR_PASSWORD -z localhost:9983; solr stop && solr start -c -f",
    ]
  db:
    environment:
      POSTGRES_PASSWORD: scholarsphere
      POSTGRES_USER: scholarsphere
      POSTGRES_DB: scholarsphere
    image: postgres:15.2
    ports:
    - "5432:5432"
    volumes:
    - db-data:/var/lib/postgresql/data

networks:
  default:
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: 1400

volumes:
  redis-data:
  bundle-data:
  node-data:
  minio-data:
  solr-data:
  db-data:
