version: '3.5'
x-web_env: &web_env
  environment:
      CI: "true"
      REDIS_HOST: redis
      SOLR_USERNAME: scholarsphere
      SOLR_PASSWORD: scholarsphere
      REDIS_PASSWORD: redispassword
      OAUTH_APP_ID: ${OAUTH_APP_ID}
      OAUTH_APP_SECRET: ${OAUTH_APP_SECRET}
      DEFAULT_URL_HOST: web
      SELENIUM_URL: http://selenium:4444/wd/hub
      APP_HOST: web
      OAUTH_APP_URL: ${OAUTH_APP_URL}
      OAUTH_TOKEN_URL: ${OAUTH_TOKEN_URL}
      OAUTH_AUTHORIZE_URL: ${OAUTH_AUTHORIZE_URL}
      POSTGRES_DB: scholarsphere
      POSTGRES_USER: scholarsphere
      POSTGRES_PASSWORD: scholarsphere
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID:-scholarsphere}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY:-scholarsphere}
      AWS_BUCKET: scholarsphere
      AWS_REGION: us-east-1
      S3_ENDPOINT: http://minio:9000
      RAILS_ENV: ${RAILS_ENV:-development}
      SOLR_HOST: solr
      SOLR_COLLECTION: scholarsphere
      POSTGRES_HOST: db
services:
  selenium:
    image: selenium/standalone-chrome:3.141.59-xenon
  redis:
    image: redis:6.2.6
    command: redis-server --requirepass redispassword
    volumes:
      - redis-data:/data
    ports:
    - "6379:6379"
  sidekiq:
    tty: true
    stdin_open: true
    <<: *web_env
    build:
      context: . 
      target: base
    command:
      - /app/bin/sidekiq
    volumes:
    - bundle-data:/app/vendor/bundle
    - node-data:/app/node_modules
    - type: bind
      source: ./
      target: /app/
  web:
    tty: true
    stdin_open: true
    <<: *web_env
    build: 
      context: . 
      target: base
    volumes:
    - bundle-data:/app/vendor/bundle
    - node-data:/app/node_modules
    - type: bind
      source: ./
      target: /app/
    ports:
      - "3000:3000"
  minio:
    image: minio/minio:RELEASE.2021-03-17T02-33-02Z
    restart: always
    volumes:
    - minio-data:/data
    environment: 
      MINIO_ACCESS_KEY: ${AWS_ACCESS_KEY_ID:-scholarsphere}
      MINIO_SECRET_KEY: ${AWS_SECRET_ACCESS_KEY:-scholarsphere}
    ports:
    - ${MINIO_PORT:-9000}:9000
    entrypoint:
    - /bin/sh
    - -c 
    - mkdir -p /data/scholarsphere; minio --compat server --address ':9000' /data
  solr:
    image: psul/solr:8.5.2-slim
    restart: always
    environment:
      SOLR_STOP_WAIT: 5
      SOLR_USERNAME: scholarsphere
      SOLR_PASSWORD: scholarsphere
    volumes:
    - solr-data:/var/solr
    ports:
    - ${SOLR_PORT:-8983}:8983
    command: [
      "/usr/local/bin/start-solr.sh"
    ]

  adminer:
    image: adminer
    restart: always
    ports:
    - "8080:8080"
  db:
    environment:
      POSTGRES_PASSWORD: scholarsphere
      POSTGRES_USER: scholarsphere
      POSTGRES_DB: scholarsphere
    image: postgres:11.8
    ports:
    - "5432:5432"
    volumes:
    - db-data:/var/lib/postgresql/data

volumes:
  redis-data:
  bundle-data:
  node-data:
  minio-data:
  solr-data:
  db-data:
