<%= form_with(model: version, url: dashboard_work_version_file_list_path, local: true, id: 'file-uploader') do |form| %>
  <div
    data-controller="uppy"
    data-uppy-input-name="work_version[file_resources_attributes][][file]"
    data-uppy-blacklist="<%= version.file_version_memberships.map(&:title).to_json %>"
    data-uppy-parent-form="file-uploader">
  </div>

  <%# Dude what? In order for Save and Continue to work as a "next" button, i.e.
      without the user having uploaded any files, our controller requires
      params[:work_version] to be present. That's what this does. It's hacky but
      good enough for now %>
  <%= form.hidden_field :id %>

  <div class="upload-submit">
    <%= form.submit 'Save and Continue', class: 'btn btn-primary' %>
  </div>
<% end %>
