---
http_interactions:
- request:
    method: post
    uri: https://pdf-services.adobe.io/token
    body:
      encoding: UTF-8
      string: client_id=adobe_client_id&client_secret=adobe_client_secret
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"eyJhbGciOiJSUzI1NiIsIng1dSI6Imltc19uYTEta2V5LWF0LTEuY2Vy","token_type":"bearer","expires_in":86399}'
  recorded_at: Tue, 22 Oct 2024 14:05:41 GMT
- request:
    method: post
    uri: https://pdf-services.adobe.io/assets
    body:
      encoding: UTF-8
      string: '{"mediaType":"application/pdf"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJSUzI1NiIsIng1dSI6Imltc19uYTEta2V5LWF0LTEuY2Vy
      X-Api-Key:
      - adobe_client_id
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"uploadUri":"https://dcplatformstorageservice-prod-us-east-1.s3-accelerate.amazonaws.com/adobe_client_id_FE141E7E670446A30A495E28%40techacct.adobe.com/836fac0a-7d2b-47ce-a210-6e0d17517bea?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEDsaCXVzLWVhc3QtMSJHMEUCIHOuyCJusnAJgs51nKjuz4rkZRbI4s3c0qGAi7d6p7TdAiEA0liMI6zeA5QOK1KkBYzbc6WUGOZuK%2FI4GjJL0aWPj4kqtAUIpP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgw0MjA1MzM0NDU5ODIiDJzj%2B57RryjuauTxkyqIBd8WDsiim9bpWkbDQHhyR8CxcQjmNqu%2FGUBpb9FCAlE2CA9rJmFHkzpl%2FHJnH0fBEF50tM%2Fu0Grh9c0Yo[...]
