---
http_interactions:
- request:
    method: get
    uri: https://identity.apps.psu.edu/search-service/resources/people/userid/dmc186
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd-psu.edu-v1+json
      X-Content-Security-Policy:
      - frame-ancestors 'none'
      Uniqueid:
      - 238d125b-040d-4d92-9971-bb7fcbeaf992
    body:
      encoding: UTF-8
      string: '{"userid":"dmc186","cprid":"722576","givenName":"Daniel","middleName":"M","familyName":"Coughlin","active":true,"confHold":false,"universityEmail":"dmc186@psu.edu","serviceAccount":false,"affiliation":["FACULTY","STAFF"],"displayName":"Daniel
        M Coughlin","link":{"href":"https://dev.apps.psu.edu/cpr/resources/722576"}}'
  recorded_at: Thu, 18 Mar 2021 15:19:26 GMT
- request:
    method: get
    uri: https://pub.orcid.org/v2.1/0000-0002-8985-2378/person
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"last-modified-date":null,"name":{"created-date":{"value":1547048259750},"last-modified-date":{"value":1547048259966},"given-names":{"value":"Daniel"},"family-name":{"value":"Coughlin"},"credit-name":null,"source":null,"visibility":"PUBLIC","path":"0000-0002-8985-2378"},"other-names":{"last-modified-date":null,"other-name":[],"path":"/0000-0002-8985-2378/other-names"},"biography":null,"researcher-urls":{"last-modified-date":null,"researcher-url":[],"path":"/0000-0002-8985-2378/researcher-urls"},"emails":{"last-modified-date":null,"email":[],"path":"/0000-0002-8985-2378/email"},"addresses":{"last-modified-date":null,"address":[],"path":"/0000-0002-8985-2378/address"},"keywords":{"last-modified-date":null,"keyword":[],"path":"/0000-0002-8985-2378/keywords"},"external-identifiers":{"last-modified-date":null,"external-identifier":[],"path":"/0000-0002-8985-2378/external-identifiers"},"path":"/0000-0002-8985-2378/person"}'
  recorded_at: Thu, 18 Mar 2021 15:19:26 GMT
recorded_with: VCR 6.0.0
