---
http_interactions:
- request:
    method: get
    uri: https://search-service.k8s.psu.edu/people/userid/iamnotpennstate
    body:
      encoding: US-ASCII
      base64_string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":{"code":404,"message":""},"errorMessage":["Response Error
        [404]: user not found:  User iamnotpennstate not found"]}

        '
  recorded_at: Thu, 14 Aug 2025 19:18:20 GMT
recorded_with: VCR 6.3.1
