---
http_interactions:
- request:
    method: get
    uri: https://identity.apps.psu.edu/search-service/resources/people/userid/iamnotpennstate
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd-psu.edu-v1+json
      X-Content-Security-Policy:
      - frame-ancestors 'none'
      Uniqueid:
      - 527323bc-f6ce-4a10-8ee4-921a675ccc2c
    body:
      encoding: UTF-8
      string: '{"status":{"code":404,"message":"NOT_FOUND"},"errorMessage":["No person
        matched the input userid: iamnotpennstate"],"link":null}'
  recorded_at: Thu, 25 Feb 2021 19:37:23 GMT
- request:
    method: post
    uri: https://sessions.bugsnag.com/
    body:
      encoding: UTF-8
      string: '{"notifier":{"name":"Ruby Bugsnag Notifier","url":"https://www.bugsnag.com","version":"6.27.1"},"device":{"hostname":"L5-LST-JML8735","runtimeVersions":{"ruby":"3.1.2","rails":"6.1.7.8","rack":"2.2.9"}},"app":{"version":null,"releaseStage":"development","type":"active
        job"},"sessionCounts":[{"startedAt":"2024-10-14T13:21:00","sessionsStarted":40}]}'
    headers:
      Bugsnag-Api-Key:
      - 4a5bd13239520eda7e393cf0c8cb855a
      Bugsnag-Payload-Version:
      - '1.0'
      Content-Type:
      - application/json
      Bugsnag-Sent-At:
      - '2024-10-14T13:21:34.999Z'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"accepted"}'
  recorded_at: Mon, 14 Oct 2024 13:21:35 GMT
recorded_with: VCR 6.1.0
