---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/dois?client-id=psu.ss-dev&created=2018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic cHN1LnNzLWRldjoyRDlENUZGMC1CQTE3LTRCMUYtQTc2Mi1CMTFBOUIwOEIzQUY=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Credential-Username:
      - psu.ss-dev
      Etag:
      - W/"ab500d1bd0bd65c795034326b92433b1"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"10.33532/k5kj-hv11","type":"dois","attributes":{"doi":"10.33532/k5kj-hv11","identifiers":[{"identifier":null,"identifierType":"DOI"}],"creators":[],"titles":[],"publisher":null,"container":{},"publicationYear":null,"subjects":[],"contributors":[],"dates":[],"language":null,"types":{"ris":"GEN","bibtex":"misc","citeproc":"article","schemaOrg":"CreativeWork"},"relatedIdentifiers":[],"sizes":[],"formats":[],"version":null,"rightsList":[],"descriptions":[],"geoLocations":[],"fundingReferences":[],"url":"http://localhost:3000/concern/generic_works/ns1784m00v","contentUrl":null,"metadataVersion":0,"schemaVersion":"http://datacite.org/schema/kernel-4","source":"ez","isActive":true,"state":"findable","reason":null,"viewCount":0,"downloadCount":0,"referenceCount":0,"citationCount":0,"partCount":0,"partOfCount":0,"versionCount":0,"versionOfCount":0,"created":"2018-11-14T17:38:59Z","registered":"2018-11-14T17:39:01Z","published":null,"updated":"2018-12-14T00:31:59Z"},"relationships":{"client":{"data":{"id":"psu.ss-dev","type":"clients"}}}},{"id":"10.33532/ms2a-3102","type":"dois","attributes":{"doi":"10.33532/ms2a-3102","identifiers":[{"identifier":null,"identifierType":"DOI"}],"creators":[],"titles":[],"publisher":null,"container":{},"publicationYear":null,"subjects":[],"contributors":[],"dates":[],"language":null,"types":{"ris":"GEN","bibtex":"misc","citeproc":"article","schemaOrg":"CreativeWork"},"relatedIdentifiers":[],"sizes":[],"formats":[],"version":null,"rightsList":[],"descr[...]
