<table class="table meta-table">
  <tbody>
  <% attributes.each do |attr, label, value| %>
    <tr>
      <th scope="row" class="<%= css_class attr %>"><%= label %></th>
      <td class="<%= css_class attr %>"><%= value %></td>
    </tr>
  <% end %>
  </tbody>
</table>
