<%= link_to path,
            method: :delete,
            class: html_class,
            data: { confirm: confirm, bs_toggle: 'tooltip', bs_placement: 'top', bs_title: tooltip } do %>
            <%= button_text %><span class="subtitle responsive-hide"> <%= button_subtitle %></span>
<% end %>
