<%= button_tag path,
            type: :button,
            onclick: onclick,
            class: html_class,
            data: { turbo_method: :delete, turbo_confirm: confirm } do %>
            <%= button_text %><span class="subtitle responsive-hide"> <%= button_subtitle %></span>
<% end %>
