<button class="btn btn-sm <%= css_class %>"
        type="button"
        data-toggle="tooltip"
        data-placement="bottom"
        title="<%= t("resources.doi.#{status}") %>">
  <%= display_content %>
</button>
