<div class="alert alert-warning" role="alert">
  <h2><%= t('embargo.heading', date: embargo_release_date) %></h2>

  <p>
    <% if download? %>
      <%= t('embargo.edit_message') %>
    <% else %>
      <%= t('embargo.public_message') %>
    <% end %>
  </p>

  <% if display_sharable_link? %>
    <%= link_to t('embargo.link_text'), resource_path(work_version.work.uuid) %>
  <% end %>
</div>
