<div class="container-fluid">
  <% messages.each do |message| %>
    <div class="<%= message.html_classes %>" role="alert">
      <%= message.content %>
      <a class="btn-close float-end" data-bs-dismiss="alert" style="width: 0.25rem; height: 0.25rem;" href="#"></a>
    </div>
  <% end %>
</div>
