<div class="container-fluid">
  <% messages.each do |message| %>
    <div class="<%= message.html_classes %>" role="alert">
      <%= message.content %>
      <a class="close" data-bs-dismiss="alert" href="#">&times;</a>
    </div>
  <% end %>
</div>
