<div id="error_explanation" data-controller="form-error-message" class="alert alert-danger" role="alert" tabindex="0">
  <h5 class="alert-heading h3"><%= heading %></h5>

  <hr class="my-2">
  <ul>
    <% messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
