<div class="<%= html_classes %>">
  <% if display_thumbnail? %>
    <img src="<%= thumbnail_url %>" class="bordered-thumbnail-image" alt="">
  <% else %>
    <i class='material-icons material-icons--thumbnail'><%= icon %></i>
  <% end %>
</div>
