<div class="alert alert-warning" role="alert">
  <%= t "resources.#{i18n_key}.message" %>

  <%= link_to t("resources.#{i18n_key}.link"),
              resource_path(linked_version),
              class: 'alert-link' %>
</div>
