<div class="form-wrapper">
  <div class="form-check mb-2">
    <%= form.radio_button :open_access_version, 'accepted', class: 'form-check-input' %>
    <%= form.label :open_access_version, 'Accepted Version', value: 'accepted', class: 'form-check-label' %>
  </div>
  <div class="form-check mb-2">
    <%= form.radio_button :open_access_version, 'published', class: 'form-check-input' %>
    <%= form.label :open_access_version, 'Published Version', value: 'published', class: 'form-check-label' %>
  </div>
</div>
