<div class="form-wrapper">
  <div class="mb-3 mt-5">
    <div class="keyline keyline--left mb-3">
      <h4>Remediated Version</h4>
    </div>
  </div>

  <div class="form-check">
    <%= form.check_box :remediated_version,
                       class: 'form-check-input' %>

    <%= form.label :remediated_version, class: 'form-check-label' do %>
      This version is a remediated (accessible) version
    <% end %>
  </div>
</div>
