<% content_for :navbar_heading do %>
  <h1 class="navbar-brand navbar-brand--center slab-font"><%= t('navbar.heading.reports') %></h1>
<% end %>

<div class="container">
  <div class="row row--md-mb-3">
    <div class="col-md">
      <ul>
        <li><%= link_to 'All Works Report', dashboard_reports_all_works_path %></li>
        <li><%= link_to 'All Work Versions Report', dashboard_reports_all_work_versions_path %></li>
      </ul>
    </div>
  </div>
</div>
