<%# TODO extract this to a smart partial/helper/presenter %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to t('dashboard.works.index.heading'), dashboard_root_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= t('dashboard.work_versions.edit.breadcrumb', title: truncate(@work_version.title, escape: false)) %></li>
  </ol>
</nav>

<%= render 'dashboard/work_versions/edit_progress', step: 2, work_version: @work_version %>

<div class="row">
  <div class="col-sm-8">
    <%= render 'form', work_version: @work_version %>
  </div>
</div>
