version: 2.1

orbs:
  docker: circleci/docker@2.8.2
  browser-tools: circleci/browser-tools@1.5.2

parameters:

  GHA_Action:
    type: string
    default: ""
  GHA_Actor:
    type: string
    default: ""
  GHA_Event:
    type: string
    default: ""
  GHA_Meta:
    type: string
    default: ""
  CI_UTILS_IMAGE_TAG:
    type: string
    default: "v4.3.0"
  CONFIG_REPO_NAME:
    type: string
    default: "scholarsphere-config"
  CONFIG_REPO_URL:
    type: string
    default: "git@github.com:psu-libraries/scholarsphere-config.git"
  CLUSTERS_DEV:
    type: string
    default: "uldev"
  CLUSTERS_PROD:
    type: string
    default: "prod"    
  REGISTRY_HOST:
    type: string
    default: "harbor.k8s.libraries.psu.edu"    
  PIPELINE_CONFIG_VERSION:
    type: string
    default: "1.0.1"    

commands:

  clone-config-repo:
    steps:
      - add_ssh_keys
      - run:
          name: Prepare GitHub Access
          command: |
            ssh-keyscan github.com > ~/.ssh/known_hosts
            git clone << pipeline.parameters.CONFIG_REPO_URL >>


  compute-docker-tag:
    steps:
      - run:
          name: Compute Docker Tag
          command: |
            if [[ "$CIRCLE_BRANCH" == "main" ]]; then
              TAG="$CIRCLE_SHA1"
            else
              SLUG=$(slugify-branch "$CIRCLE_BRANCH")
              TAG="${SLUG}--$CIRCLE_SHA1"
            fi
            echo "export TAG=$TAG" >> "$BASH_ENV"    

executors:

  ci-utils:
    parameters:
      image_tag:
        type: string
      registry_host:
        type: string
    docker:
      - image: << parameters.registry_host >>/library/ci-utils:<< parameters.image_tag >>

jobs: 
  build-image:
    environment:
      REGISTRY_HOST: << pipeline.parameters.REGISTRY_HOST >>
      REGISTRY_REPO: "library/$CIRCLE_PROJECT_REPONAME"
    executor:
      name: ci-utils
      image_tag: << pipeline.parameters.CI_UTILS_IMAGE_TAG >>  
      registry_host: << pipeline.parameters.REGISTRY_HOST >>
    steps:
      - setup_remote_docker:
          docker_layer_caching: true
      - checkout
      - compute-docker-tag
      - docker/check:
          registry: $REGISTRY_HOST
      - docker/build:
          image: $REGISTRY_REPO
          registry: $REGISTRY_HOST
          tag: $TAG
          extra_build_args: "--target production"
          use-buildkit: true
      - run:
          name: Save Docker image
          command: |
            docker save $REGISTRY_HOST/library/$CIRCLE_PROJECT_REPONAME:$TAG -o /tmp/docker-image.tar
      - run:
          name: Save image info for push job
          command: |
            mkdir -p /tmp/docker-image-info
            echo "$REGISTRY_HOST/library/$CIRCLE_PROJECT_REPONAME:$TAG" > /tmp/docker-image-info/image-name.txt
      - persist_to_workspace:
          root: /tmp
          paths:
            - docker-image.tar
            - docker-image-info

  push-image:
    environment:
      REGISTRY_HOST: << pipeline.parameters.REGISTRY_HOST >>
      REGISTRY_REPO: "library/$CIRCLE_PROJECT_REPONAME"
    executor:
      name: ci-utils
      image_tag: << pipeline.parameters.CI_UTILS_IMAGE_TAG >>
      registry_host: << pipeline.parameters.REGISTRY_HOST >>
    steps:
      - setup_remote_docker:
          docker_layer_caching: false
      - checkout
      - compute-docker-tag
      - attach_workspace:
          at: /tmp
      - run:
          name: Load Docker image
          command: |
            docker load -i /tmp/docker-image.tar
      - docker/check:
          registry: $REGISTRY_HOST
      - docker/push:
          image: $REGISTRY_REPO
          registry: $REGISTRY_HOST
          tag: $TAG                     
  
  delete-deployment:
    parameters:
      delete_branch:
        type: string
    executor:
      name: ci-utils
      image_tag: << pipeline.parameters.CI_UTILS_IMAGE_TAG >>
      registry_host: << pipeline.parameters.REGISTRY_HOST >>
    environment:
      CONFIG_REPO_NAME: << pipeline.parameters.CONFIG_REPO_NAME >>
      CONFIG_REPO_URL: << pipeline.parameters.CONFIG_REPO_URL >>
      DELETE_BRANCH: << parameters.delete_branch >>
    steps:
      - clone-config-repo
      - run:
          name: Delete Deployment
          command: |
            export TRIGGERED_BY="$CIRCLE_USERNAME"
            cd $CONFIG_REPO_NAME
            ./bin/ci-delete-manifest
  
  deploy-application:
    executor:
      name: ci-utils
      image_tag: << pipeline.parameters.CI_UTILS_IMAGE_TAG >>
      registry_host: << pipeline.parameters.REGISTRY_HOST >>
    environment:
      clusters: << parameters.clusters >>
      CONFIG_REPO_NAME: << pipeline.parameters.CONFIG_REPO_NAME >>
      CONFIG_REPO_URL: << pipeline.parameters.CONFIG_REPO_URL >>
      CONFIG_REPO: << pipeline.parameters.CONFIG_REPO_URL >>
    parameters:
      clusters:
        type: string
    steps:
      - clone-config-repo
      - compute-docker-tag
      - run:
          name: Add or Update Application Manifest
          command: |
            export TRIGGERED_BY="$CIRCLE_USERNAME"
            # Split comma-separated clusters into array and loop
            clusters="${clusters// /}"
            IFS=',' read -ra CLUSTERS \<<< "$clusters"
            echo "Pre loop Directory: $(pwd)"
            for cluster in "${CLUSTERS[@]}"; do
                export TARGET_CLUSTER="$cluster"
                echo "Processing cluster: $TARGET_CLUSTER"
                cd $CONFIG_REPO_NAME
                ./bin/ci-write-manifest
                echo "Finished processing $TARGET_CLUSTER"
                git status
            done
  
  release-image:
    parameters:
      to_tag:
        type: string
      from_tag:
        type: string
      clusters:
        type: string
    executor:
      name: ci-utils
      image_tag: << pipeline.parameters.CI_UTILS_IMAGE_TAG >>
      registry_host: << pipeline.parameters.REGISTRY_HOST >>
    environment:
      clusters: << parameters.clusters >>
      CONFIG_REPO: git@github.com:psu-libraries/scholarsphere-config.git
      REGISTRY_HOST: harbor.k8s.libraries.psu.edu
      FROM_TAG: << parameters.from_tag >>
      TO_TAG: << parameters.to_tag >>
      PIPELINE_CONFIG_VERSION: << pipeline.parameters.PIPELINE_CONFIG_VERSION >>
    steps:
      - clone-config-repo
      - run:
          name: Tag & Release Image
          command: |
            export TRIGGERED_BY="$CIRCLE_USERNAME"
            export REGISTRY_REPO="$CIRCLE_PROJECT_REPONAME"
            /usr/local/bin/image-tag
            cd $CONFIG_REPO_NAME

            # Split comma-separated clusters into array and loop
            clusters="${clusters// /}"
            IFS=',' read -ra CLUSTERS \<<< "$clusters"
            for cluster in "${CLUSTERS[@]}"; do
              export TARGET_CLUSTER="$cluster"
              echo "Processing cluster: $TARGET_CLUSTER"
              /usr/local/bin/image-release-pr "clusters/$TARGET_CLUSTER/manifests/$CIRCLE_PROJECT_REPONAME/prod.yaml"
            done          

  test-application:
    resource_class: large
    docker:
      - image: cimg/ruby:3.4.1-browsers
      - image: redis:6.2.6
      - image: minio/minio:RELEASE.2021-03-17T02-33-02Z
        entrypoint:
          - /bin/sh
          - -c
          - mkdir -p /data/scholarsphere; minio --compat server --address ':9000' /data
        environment:
          MINIO_ACCESS_KEY: scholarsphere
          MINIO_SECRET_KEY: scholarsphere
      - image: postgres:15.2
        environment:
          POSTGRES_PASSWORD: scholarsphere
          POSTGRES_USER: scholarsphere
          POSTGRES_DB: scholarsphere
      - image: solr:8.11.1-slim
        command: [
          "/bin/bash", 
          "-c", 
          "solr -c && solr auth enable -credentials scholarsphere:scholarsphere -z localhost:9983; solr stop && solr -c -f",
          ]
    environment:
      RAILS_ENV: test
      AWS_ACCESS_KEY_ID: scholarsphere
      AWS_SECRET_ACCESS_KEY: scholarsphere
      S3_ENDPOINT: http://localhost:9000
      AWS_BUCKET: scholarsphere
      AWS_REGION: us-east-1
      SOLR_HOST: 127.0.0.1
      SOLR_COLLECTION: scholarsphere
      SOLR_PASSWORD: scholarsphere
      SOLR_USERNAME: scholarsphere
      POSTGRES_USERNAME: scholarsphere
      POSTGRES_PASSWORD: scholarsphere
      POSTGRES_DB: scholarsphere
      POSTGRES_HOST: 127.0.0.1
      RMD_HOST: https://metadata.libraries.psu.edu
      PDF_REMEDIATION_ENDPOINT: endpoint
      PDF_REMEDIATION_API_KEY: api-key
    steps:
    - browser-tools/install-browser-tools
    - checkout
    - restore_cache:
        keys:
          - bundle1-{{ checksum "Gemfile.lock" }}
    - restore_cache:
        keys:
          - yarn1-{{ checksum "yarn.lock" }}
    - run:
        name: "Update Node.js and yarn"
        command: |
          curl -sSL "https://nodejs.org/dist/v22.9.0/node-v22.9.0-linux-x64.tar.xz" | sudo tar --strip-components=2 -xJ -C /usr/local/bin/ node-v22.9.0-linux-x64/bin/node
          sudo corepack enable
          sudo corepack prepare yarn@1.22.22 --activate
    - run:
        name: "Install dependencies for thumbnails"
        command: |
          wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
          sudo apt-get update
          sudo apt-get install -y imagemagick ghostscript libreoffice
          sudo cp config/policy.xml /etc/ImageMagick-6/policy.xml
    - run:
        name: "Bundle"
        command: |
          gem install bundler -v "$(grep -A 1 "BUNDLED WITH" Gemfile.lock | tail -n 1)"
          bundle check --path vendor/bundle || bundle install --deployment
    - run:
        name: "Yarn"
        command: |
          yarn install --cache-folder ~/.cache/yarn --frozen-lockfile
    - run:
        name: "Wait for Redis"
        command: dockerize -wait tcp://localhost:6379 -timeout 1m
    - run:
        name: "Wait for Solr"
        command: dockerize -wait tcp://localhost:8983 -timeout 2m
    - save_cache:
        paths:
          - vendor/bundle
        key: bundle1-{{ checksum "Gemfile.lock" }}
    - save_cache:
        key: yarn1-{{ checksum "yarn.lock" }}
        paths:
          - ~/.cache/yarn
    - run:
        name: "Lint"
        command: |
          bundle exec niftany
          yarn lint
    - run:
        name: "Jest"
        command: |
          yarn test
    - run:
        name: "RSpec"
        command: |
          ./bin/ci-rspec

workflows:
  version: 2

  scholarsphere-delete-ci-cd:
    when:
      equal: [ "delete", << pipeline.parameters.GHA_Event >> ]
    jobs:
      - delete-deployment:
          name: delete-deployment
          context: [org-global]
          delete_branch: << pipeline.parameters.GHA_Meta >>
          filters:
            branches:
              only: /.*/

  scholarsphere-ci-cd:
    unless:
      equal: [ "delete", << pipeline.parameters.GHA_Event >> ]
    jobs:              
      - test-application:
          name: test-application
          context:
            - org-global
          filters:
            branches:
              only: /.*/

      - build-image:
          name: build-image
          context:
            - org-global
          filters:
            branches:
              only:
                - main
                - /preview\/.*/

      - push-image:
          name: push-image
          context:
            - org-global
          filters:
            branches:              
              only:
                - main
                - /preview\/.*/
          requires:
            - build-image

      - deploy-application:
          name: deploy-application
          context:
            - org-global
          clusters: << pipeline.parameters.CLUSTERS_DEV >>
          filters:
            branches:
              only:
                - main
          requires:
            - test-application
            - push-image
      
      - release-image: 
          name: release-image
          clusters: << pipeline.parameters.CLUSTERS_PROD >>
          context:
            - org-global
          from_tag: "<< pipeline.git.revision >>"
          to_tag: "<< pipeline.git.tag >>"
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v\d+\.\d+\.\d+.*/