---
http_interactions:
- request:
    method: get
    uri: https://pub.orcid.org/v2.1/12341234/person
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"response-code":404,"developer-message":"404 Not Found: The resource
        was not found. Full validation error: ORCID iD 12341234 not found","user-message":"The
        resource was not found.","error-code":9016,"more-info":"https://members.orcid.org/api/resources/troubleshooting"}'
  recorded_at: Thu, 04 Feb 2021 16:00:00 GMT
recorded_with: VCR 6.0.0
