---
http_interactions:
- request:
    method: get
    uri: https://chromedriver.storage.googleapis.com/LATEST_RELEASE_97.0.4692
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Generation:
      - '1641361519085436'
      X-Goog-Metageneration:
      - '1'
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - '12'
      X-Goog-Hash:
      - crc32c=CF80zQ==
      - md5=NayZfH/z34d/UVUp6W3Shg==
      X-Goog-Storage-Class:
      - STANDARD
      Last-Modified:
      - Wed, 05 Jan 2022 05:45:19 GMT
      Etag:
      - '"35ac997c7ff3df877f515529e96dd286"'
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: 97.0.4692.71
  recorded_at: Wed, 26 Jan 2022 14:21:05 GMT
- request:
    method: get
    uri: https://identity.apps.psu.edu/search-service/resources/people?text=wead
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd-psu.edu-v1+json
      X-Content-Security-Policy:
      - frame-ancestors 'none'
      Uniqueid:
      - b4b0a44ff74d4de62a4a2efcd349253d
    body:
      encoding: UTF-8
      string: '[{"userid":"agw13","cprid":"2784093","givenName":"Adam","middleName":"Garner","familyName":"Wead","preferredGivenName":"Adam","preferredFamilyName":"Wead","active":true,"confHold":false,"universityEmail":"agw13@psu.edu","serviceAccount":false,"affiliation":["STAFF"],"displayName":"Adam
        Wead","link":{"href":"https://dev.apps.psu.edu/cpr/resources/2784093"}},{"userid":"azw166","cprid":"6559108","givenName":"Amy","familyName":"Weader","active":true,"confHold":false,"universityEmail":"azw166@psu.edu","serviceAccount":false,"affiliation":["STAFF"],"displayName":"Amy
        Weader","link":{"href":"https://dev.apps.psu.edu/cpr/resources/6559108"}},{"userid":"naw5384","cprid":"7363729","givenName":"Nathan","middleName":"Andrew","familyName":"Weader","active":true,"confHold":false,"universityEmail":"naw5384@psu.edu","serviceAccount":false,"affiliation":["MEMBER"],"displayName":"Nathan
        Andrew Weader","link":{"href":"https://dev.apps.psu.edu/cpr/resources/7363729"}}]'
  recorded_at: Wed, 26 Jan 2022 14:21:09 GMT
recorded_with: VCR 6.0.0
