<% terms = form.object.send(attribute).empty? ? [''] : form.object.send(attribute) %>

<div class="form-group" data-controller="multiple-fields">
  <%= form.label attribute %>
  <% terms.map do |term| %>
    <div class="input-group">
      <%= form.text_field attribute, multiple: true, value: term, class: 'form-control' %>
    </div>
  <% end %>
</div>
