<% terms = form.object.send(attribute).empty? ? [''] : form.object.send(attribute) %>

<div class="mb-3">
  <div data-controller="multiple-fields">
    <% terms.each_with_index do |term, index| %>
      <div class="<%= local_assigns[:readonly].present? ? "" : "removable-input js-multiple-field-group" %> mb-1">
        <label class="has-float-label">
          <%= form.text_field attribute, multiple: true, 
                                         placeholder: true, 
                                         value: term, 
                                         class: 'form-control', 
                                         readonly: local_assigns[:readonly] %>
          <span><%= form.object.class.human_attribute_name(attribute) %></span>
        </label>
      </div>
    <% end %>
  </div>

  <%= render FieldHintComponent.new(form: form, attribute: attribute) %>
</div>
