<%- hint = FieldHintComponent.new(form: form, attribute: attribute) %>

<div class="form-group has-float-label mb-3">
  <%= form.select attribute,
                  options_for_select,
                  { include_blank: local_assigns.fetch(:include_blank, false) },
                  {
                    class: 'form-control custom-select',
                    required: local_assigns[:required].presence,
                    multiple: local_assigns.fetch(:multiple, false),
                    aria: { describedby: hint.dom_id }
                  } %>
  <%= form.label attribute %>

  <% if form.object.errors.include?(attribute) %>
    <small class="form-text feedback-invalid"><%= form.object.errors[attribute].join('; ') %></small>
  <% end %>

  <%= render hint %>
</div>
