<%- hint = FieldHintComponent.new(form: form, attribute: attribute) %>

<%= render hint %>

<div class="mt-1 mb-3 has-float-label mb-3">
  <%= form.select attribute,
                  options_for_select,
                  { include_blank: local_assigns[:include_blank].presence },
                  {
                    class: 'form-control form-select',
                    multiple: local_assigns.fetch(:multiple, false),
                    aria: { describedby: hint.dom_id, required: local_assigns[:aria_required].presence },
                    disabled: local_assigns[:disabled].presence,
                    data: local_assigns[:data].presence
                  } %>
  <%= form.label attribute %>

  <% if form.object.errors.include?(attribute) %>
    <small class="form-text feedback-invalid"><%= form.object.errors[attribute].join('; ') %></small>
  <% end %>
</div>
