<%- hint = FieldHintComponent.new(form: form, attribute: attribute) %>
<%= render hint %>
<div class="mt-1 form-group has-float-label mb-3">
  <%= form.text_field attribute,
                      class: 'form-control',
                      placeholder: true,
                      required: local_assigns[:required].presence,
                      data: local_assigns[:data],
                      readonly: local_assigns[:readonly].presence,
                      aria: { describedby: hint.dom_id, required: local_assigns[:aria_required].presence} %>
  <%= form.label attribute %>

  <% if form.object.errors.include?(attribute) %>
    <small class="form-text feedback-invalid"><%= form.object.errors[attribute].join('; ') %></small>
  <% end %>
</div>
