<%- hint = FieldHintComponent.new(form: form, attribute: attribute) %>

<%= render hint %>

<div class="mt-1 form-group has-float-label mb-3">
  <%= form.text_area attribute,
                     class: 'form-control',
                     rows: 8,
                     cols: 40,
                     placeholder: true,
                     required: local_assigns[:required].presence,
                     aria: { describedby: hint.dom_id } %>
  <%= form.label attribute %>

  <% if form.object.errors.include?(attribute) %>
    <small class="form-text feedback-invalid"><%= form.object.errors[attribute].join('; ') %></small>
  <% end %>
</div>
