---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/dois?client-id=psu.ss-dev&created=2025&query=foo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Credential-Username:
      - psu.ss-dev
      Etag:
      - W/"68f218431b060e0c0c1c57624f421720"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"meta":{"total":0,"totalPages":0,"page":1},"links":{"self":"https://api.test.datacite.org/dois?client-id=psu.ss-dev&created=2025&query=foo"}}'
  recorded_at: Mon, 10 May 2021 16:51:00 GMT
recorded_with: VCR 6.0.0
