---
http_interactions:
- request:
    method: get
    uri: https://search-service.k8s.psu.edu/people/userid/ajk5603
    body:
      encoding: US-ASCII
      base64_string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"userid":"ajk5603","cprid":"2460424","givenName":"Alexander","middleName":"","familyName":"Kiessling","honorificPrefix":"","honorificSuffix":"","preferredGivenName":"Alex","preferredMiddleName":"","preferredFamilyName":"Kiessling","preferredHonorificPrefix":"","preferredHonorificSuffix":"","active":true,"confHold":false,"universityEmail":"ajk5603@psu.edu","otherEmail":"","serviceAccount":false,"primaryAffiliation":"STAFF","affiliation":["STAFF"],"altUserids":[],"link":{"href":"https://cpr.k8s.psu.edu/cpr/resources/2460424"},"displayName":"Alex
        Kiessling"}

        '
  recorded_at: Thu, 14 Aug 2025 19:18:31 GMT
- request:
    method: post
    uri: https://oauth2-server.k8s.psu.edu/oauth/api/token
    body:
      encoding: UTF-8
      string: client_id=abcdefg12345&client_secret=abcdef12345&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":"invalid_client","error_description":"Client authentication
        failed (e.g., unknown client, no client authentication included, or unsupported
        authentication method). The OAuth 2.0 Client supports client authentication
        method ''client_secret_basic'', but method ''client_secret_post'' was requested.
        You must configure the OAuth 2.0 client''s ''token_endpoint_auth_method''
        value to accept ''client_secret_post''."}'
  recorded_at: Thu, 14 Aug 2025 19:18:31 GMT
recorded_with: VCR 6.3.1
