---
http_interactions:
- request:
    method: get
    uri: https://search-service.k8s.psu.edu/search-service/resources/people/userid/agw13
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd-psu.edu-v1+json
      X-Content-Security-Policy:
      - frame-ancestors 'none'
      Uniqueid:
      - 5d959d9d5f1bfd50296320851c847859
    body:
      encoding: UTF-8
      string: '{"userid":"agw13","cprid":"2784093","givenName":"Adam","middleName":"Garner","familyName":"Wead","preferredGivenName":"Adam","preferredFamilyName":"Wead","active":true,"confHold":false,"universityEmail":"agw13@psu.edu","serviceAccount":false,"affiliation":["MEMBER"],"link":{"href":"https://dev.apps.psu.edu/cpr/resources/2784093"},"displayName":"Adam
        Wead"}'
  recorded_at: Wed, 23 Feb 2022 21:36:57 GMT
recorded_with: VCR 6.0.0
