<%= render 'dashboard/form/details/common_work_version_required_fields', form: form %>

<div class="form-wrapper">
  <%= render 'form_fields/multi_text', form: form, attribute: :keyword %>
  <%= render 'form_fields/multi_text', form: form, attribute: :related_url %>
  <%= render 'form_fields/multi_text', form: form, attribute: :language %>
</div>
