<%= render 'dashboard/form/details/common_work_version_required_fields', form: form %>

<div class="form-wrapper">
  <%= render 'dashboard/form/details/common_work_version_optional_fields', form: form %>
</div>
