<div class="container">
  <div class="row">
    <div class="col" data-controller="unsaved-changes" data-unsaved-changes-prompt="<%= t 'dashboard.form.unsaved_changes_prompt' %>">
      <h1 class="text-center mb-4 h4"><%= t("dashboard.form.heading.#{param_key}.edit") %></h1   >

      <%= render FormTabsComponent.new(resource: @resource, current_controller: controller_name) %>

      <div class="tab-content">
        <div class="tab-pane active show">
          <%= render 'form', url: send(:"dashboard_form_#{param_key}_details_path", @resource) %>
        </div>
      </div>
    </div>
</div>
