<% collection.works.includes(versions: :creator_aliases).each do |work| %>
  <% work_version = work.latest_published_version -%>
  <article class="document" itemtype="http://schema.org/Thing">
    <header class="documentHeader row">
      <h3 class="index_title document-title-heading col-md-12 ">
        <%= link_to work_version.title, resource_path(work_version.uuid) %>
        <%= render VisibilityBadgeComponent, work: work %>
      </h3>
    </header>

    <%= render WorkVersionMetadataComponent, work_version: work_version, mini: true %>
  </article>
<% end %>
