<aside>
  <div class="modal fade"
       id="blacklight-modal"
       tabindex="-1"
       role="dialog"
       aria-hidden="true"
       aria-labelledby="modal-label">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      </div>
    </div>
  </div>
</aside>
