---
http_interactions:
- request:
    method: get
    uri: https://pub.orcid.org/v2.1/0000-0001-8485-6532/person
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"last-modified-date":{"value":1613700727762},"name":{"created-date":{"value":1601473260303},"last-modified-date":{"value":1612452781871},"given-names":{"value":"Adam"},"family-name":{"value":"Wead"},"credit-name":{"value":"Dr.
        Adam Wead"},"source":null,"visibility":"PUBLIC","path":"0000-0001-8485-6532"},"other-names":{"last-modified-date":null,"other-name":[],"path":"/0000-0001-8485-6532/other-names"},"biography":{"created-date":{"value":1612452696013},"last-modified-date":{"value":1612452696013},"content":"Developer
        working for Penn State University Libraries.","visibility":"PUBLIC","path":"/0000-0001-8485-6532/biography"},"researcher-urls":{"last-modified-date":null,"researcher-url":[],"path":"/0000-0001-8485-6532/researcher-urls"},"emails":{"last-modified-date":{"value":1613700727762},"email":[{"created-date":{"value":1612465747618},"last-modified-date":{"value":1613700727762},"source":{"source-orcid":{"uri":"https://orcid.org/0000-0001-8485-6532","path":"0000-0001-8485-6532","host":"orcid.org"},"source-client-id":null,"source-name":{"value":"Dr.
        Adam Wead"}},"email":"agw13@psu.edu","path":null,"visibility":"PUBLIC","verified":true,"primary":false,"put-code":null},{"created-date":{"value":1601473260293},"last-modified-date":{"value":1612465218966},"source":{"source-orcid":{"uri":"https://orcid.org/0000-0001-8485-6532","path":"0000-0001-8485-6532","host":"orcid.org"},"source-client-id":null,"source-name":{"value":"Dr.
        Adam Wead"}},"email":"awead@psu.edu","path":null,"visibility":"PUBLIC","verified":true,"primary":false,"put-code":null}],"path":"/0000-0001-8485-6532/email"},"addresses":{"last-modified-date":null,"address":[],"path":"/0000-0001-8485-6532/address"},"keywords":{"last-modified-date":null,"keyword":[],"path":"/0000-0001-8485-6532/keywords"},"external-identifiers":{"last-modified-date":null,"external-identifier":[],"path":"/0000-0001-8485-6532/external-identifiers"},"path":"/0000-0001-8485-6532/person"}'
  recorded_at: Tue, 16 Mar 2021 15:14:40 GMT
recorded_with: VCR 6.0.0
