---
http_interactions:
- request:
    method: post
    uri: https://api.test.datacite.org/dois
    body:
      encoding: UTF-8
      string: '{"data":{"type":"dois","attributes":{"doi":"10.33532/abc802"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic cHN1LnNzLWRldjpzc2RldjIwMTg=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Credential-Username:
      - psu.ss-dev
      Location:
      - https://api.test.datacite.org/dois/3132202
      Etag:
      - W/"a5bfedba3d2df7cff215c33a3dbb0413"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.33532/abc802","type":"dois","attributes":{"doi":"10.33532/abc802","prefix":"10.33532","suffix":"abc802","identifiers":null,"creators":[],"titles":null,"publisher":null,"container":{},"publicationYear":null,"subjects":null,"contributors":[],"dates":null,"language":null,"types":{},"relatedIdentifiers":null,"sizes":null,"formats":null,"version":null,"rightsList":[],"descriptions":null,"geoLocations":null,"fundingReferences":null,"xml":null,"url":null,"contentUrl":null,"metadataVersion":0,"schemaVersion":null,"source":null,"isActive":false,"state":"draft","reason":null,"landingPage":null,"created":"2019-12-05T20:42:35.000Z","registered":null,"published":"","updated":"2019-12-05T20:42:35.000Z"},"relationships":{"client":{"data":{"id":"psu.ss-dev","type":"clients"}},"media":{"data":{"id":"10.33532/abc802","type":"media"}}}},"included":[{"id":"psu.ss-dev","type":"clients","attributes":{"name":"Scholarsphere
        Devlopement","symbol":"PSU.SS-DEV","year":2018,"contactEmail":"awead@psu.edu","alternateName":null,"description":null,"language":null,"clientType":"repository","domains":"*","re3data":null,"opendoar":null,"issn":null,"url":null,"created":"2018-11-02T18:30:18.000Z","updated":"2018-11-02T18:31:18.000Z","isActive":true,"hasPassword":true},"relationships":{"provider":{"data":{"id":"psu","type":"providers"}},"prefixes":{"data":[{"id":"10.33532","type":"prefixes"}]}}}]}'
  recorded_at: Thu, 05 Dec 2019 20:42:35 GMT
- request:
    method: put
    uri: https://api.test.datacite.org/dois/10.33532/abc802
    body:
      encoding: UTF-8
      string: '{"data":{"type":"dois","id":"10.33532/abc802","attributes":{"titles":[{"title":"Work
        Title"}]}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic cHN1LnNzLWRldjpzc2RldjIwMTg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Credential-Username:
      - psu.ss-dev
      Etag:
      - W/"daf007085e620b0babceafc092612994"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.33532/ab[...]
