---
http_interactions:
- request:
    method: post
    uri: https://psu.libanswers.com/api/1.1/oauth/token
    body:
      encoding: UTF-8
      string: client_id=abcdefg12345&client_secret=abcdefg12345&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Backend-Server:
      - libanswers-us-5.springyaws.com
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"abcdefg12345","expires_in":86400,"token_type":"Bearer","scope":"app_view
        app_create app_update"}'
  recorded_at: Mon, 19 Feb 2024 15:19:27 GMT
- request:
    method: post
    uri: https://psu.libanswers.com/api/1.1/ticket/create
    body:
      encoding: UTF-8
      string: 'quid=5477&pquestion=ScholarSphere Deposit Curation: Recusandae corporis
        voluptatem illum: "aut, ut, qui; 23rd ut''s temporibus''s similique"&pname=Perry
        Wolf&pemail=test@psu.edu'
    headers:
      Authorization:
      - Bearer abcdefg12345
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Backend-Server:
      - libanswers-us-3.springyaws.com
    body:
      encoding: ASCII-8BIT
      string: '{"isShared":false,"ticketUrl":"\/admin\/ticket?qid=13224664","claimed":0}'
  recorded_at: Mon, 19 Feb 2024 15:19:27 GMT
recorded_with: VCR 6.1.0
