# Sample Figaro config file
# Copy this to config/application.yml and edit as needed.
# --------------------------------------------------------------------------------------------------------------------
# To enable uploading to S3 in Amazon, you'll need the following variables configured:
#
#  AWS_BUCKET:            ""
#  AWS_ACCESS_KEY_ID:     ""
#  AWS_SECRET_ACCESS_KEY: ""
#  AWS_REGION:            ""
#
# To enable uploading via Minio, ensure that minio is installed. See:
#   https://github.com/minio/minio
#
# You can optionally set a MINIO_ACCESS_KEY, MINIO_SECRET_KEY, and MINIO_PORT, or omit them and it will use defaults.
# Start up minio with:
#   bin/minio
#
# The corresponding environment configuation would look like:
#
#   S3_ENDPOINT:           "http://127.0.0.1:9000" # Port should be the same as MINIO_PORT
#   AWS_BUCKET:            "scholarsphere"
#   AWS_ACCESS_KEY_ID:     "asdf"     # this should be the same as MINIO_ACCESS_KEY
#   AWS_SECRET_ACCESS_KEY: "asdfasdf" # this should be the same as MINIO_SECRET_KEY
#   AWS_REGION:            "us-east-1"
#
# You will need to create a "scholarsphere" bucket in your Minio instance. This can be done via the web interface.
# Go to http://127.0.0.1:9000/minio and click the red circle plus (+) sign in the bottom-right corner.
#
# --------------------------------------------------------------------------------------------------------------------
#
# DataCite authorization for minting DOIs:
#
# DATACITE_ENDPOINT: "https://api.test.datacite.org/dois"
# DATACITE_PREFIX: "10.33532"
# DATACITE_PUBLISHER: "scholarsphere"
# DATACITE_USERNAME: ""
# DATACITE_PASSWORD: ""
#


## ADMIN UMG
## protects the admin namespace 
# ADMIN_GROUP: "cn=umg/up.dlt.scholarsphere-admin,dc=psu,dc=edu"

## Redis Configuration
# REDIS_HOST:
# REDIS_PORT:
# REDIS_PASSWORD:
# REDIS_DATABASE:

POSTGRES_USER: "[username]" # This is typically $ whoami

SOLR_HOST: localhost
SOLR_COLLECTION: scholarsphere
SOLR_PORT: 8983
# SOLR_CONFIG_DIR: solr/conf
# SOLR_NUM_SHARDS: 1
# MINIO_ACCESS_KEY: "asdf"
# MINIO_SECRET_KEY: "asdfasdf"
# MINIO_PORT: "9000"

# Default URL host. answers the question "who am i?"
# Required for all environments. For development, you can set it to
# "localhost:3000" for `bin/rails s` or "scholarsphere-4.test" for puma-dev
DEFAULT_URL_HOST: "localhost:3000"

# If the oauth servers authorize path differs from /oauth/authorize, you can set that value here
# Under normal circumstances, this shouldn't need changing
# OAUTH_AUTHORIZE_URL: "/oauth/authorize"

# Geonames
# Username used to connect to the geonames api (https://sws.geonames.org)
# GEONAMES_USER: "scholarsphere_test"

# Time to live for presigned download links
DOWNLOAD_URL_TTL: 6

development:
  POSTGRES_DB: "scholarsphere_4_development"
  OAUTH_APP_ID: ""
  OAUTH_APP_URL: ""
  OAUTH_APP_SECRET: ""
  # Configure uploading via S3 or Minio (see above)

test:
  POSTGRES_DB: "scholarsphere_4_test"
  OAUTH_APP_ID: ""
  OAUTH_APP_URL: ""
  OAUTH_APP_SECRET: ""
  # Configure uploading via Minio (see above)
