# Sample Figaro config file
# Copy this to config/application.yml and edit as needed.
# --------------------------------------------------------------------------------------------------------------------
# To enable uploading to S3 in Amazon, you'll need the following variables configured:
#
#  AWS_BUCKET:            ""
#  AWS_ACCESS_KEY_ID:     ""
#  AWS_SECRET_ACCESS_KEY: ""
#  AWS_REGION:            ""
#
# To enable uploading via Minio, ensure that minio is installed. See:
#   https://github.com/minio/minio
#
# Startup the service locally with:
#   docker run
#     -e MINIO_ACCESS_KEY=asdf
#     -e MINIO_SECRET_KEY=asdfasdf
#     -p 9000:9000 
#     minio/minio:latest server --compat /data
#
# The corresponding environment configuation would look like:
#
#   S3_ENDPOINT:           "http://127.0.0.1:9000"
#   AWS_BUCKET:            "scholarsphere"
#   AWS_ACCESS_KEY_ID:     "asdf"     # this is MINIO_ACCESS_KEY
#   AWS_SECRET_ACCESS_KEY: "asdfasdf" # this is MINIO_SECRET_KEY
#   AWS_REGION:            "us-east-1"
#
# You will need to create a "scholarsphere" bucket in your Minio instance. This can be done via the web interface.
# Go to http://127.0.0.1:9000/minio and click the red circle plus (+) sign in the bottom-right corner.

POSTGRES_USER: "[username]" # This is typically $ whoami

SOLR_HOST: localhost
SOLR_COLLECTION: scholarsphere
SOLR_PORT: 8983
# SOLR_CONFIG_DIR: solr/conf
# SOLR_NUM_SHARDS: 1

# If the oauth servers authorize path differs from /oauth/authorize, you can set that value here
# Under normal circumstances, this shouldn't need changing
# OAUTH_AUTHORIZE_URL: "/oauth/authorize"

development:
  POSTGRES_DB: "scholarsphere_4_development"
  OAUTH_APP_ID: ""
  OAUTH_APP_URL: ""
  OAUTH_APP_SECRET: ""
  # Configure uploading via S3 or Minio (see above)

test:
  POSTGRES_DB: "scholarsphere_4_test"
  OAUTH_APP_ID: ""
  OAUTH_APP_URL: ""
  OAUTH_APP_SECRET: ""
  # Configure uploading via Minio (see above)
