---
http_interactions:
- request:
    method: post
    uri: https://api.test.datacite.org/dois
    body:
      encoding: UTF-8
      string: '{"data":{"type":"dois","attributes":{"event":"publish","publisher":"scholarsphere","prefix":"10.33532"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
      X-Credential-Username:
      - psu.ss-dev
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"source":"url","title":"Can''t be blank"}]}'
  recorded_at: Thu, 05 Dec 2019 20:32:41 GMT
recorded_with: VCR 5.0.0
