---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/dois?client-id=psu.ss-dev&state=draft
    body:
      encoding: US-ASCII
      base64_string: ''
    headers:
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Credential-Username:
      - "<REDACTED>"
      Etag:
      - W/"951631e166d9f00f70a6b8969827a132"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"meta":{"total":0,"totalPages":0,"page":1},"links":{"self":"https://api.test.datacite.org/dois?client-id=psu.ss-dev&state=draft"}}'
  recorded_at: Tue, 19 Aug 2025 14:50:05 GMT
recorded_with: VCR 6.3.1
