---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/dois?client-id=psu.ss-dev&state=draft
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic cHN1LnNzLWRldjoyRDlENUZGMC1CQTE3LTRCMUYtQTc2Mi1CMTFBOUIwOEIzQUY=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Credential-Username:
      - psu.ss-dev
      Etag:
      - W/"3a0e32d2bb5f99c4672b1e955a2b16c5"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"meta":{"total":0,"totalPages":0,"page":1},"links":{"self":"https://api.test.datacite.org/dois?client-id=psu.ss-dev&state=draft"}}'
  recorded_at: Mon, 10 May 2021 18:36:54 GMT
recorded_with: VCR 6.0.0
