---
http_interactions:
- request:
    method: get
    uri: https://search-service.k8s.psu.edu/people/userid/AbH1282
    body:
      encoding: US-ASCII
      base64_string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":{"code":404,"message":""},"errorMessage":["Response Error
        [404]: user not found:  User AbH1282 not found"]}

        '
  recorded_at: Fri, 01 May 2026 17:15:15 GMT
- request:
    method: get
    uri: https://search-service.k8s.psu.edu/people/userid/AbH1282
    body:
      encoding: US-ASCII
      base64_string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":{"code":404,"message":""},"errorMessage":["Response Error
        [404]: user not found:  User AbH1282 not found"]}

        '
  recorded_at: Fri, 01 May 2026 17:15:16 GMT
recorded_with: VCR 6.4.0
