---
http_interactions:
- request:
    method: get
    uri: https://search-service.k8s.psu.edu/people/userid/ShC1360
    body:
      encoding: US-ASCII
      base64_string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":{"code":404,"message":""},"errorMessage":["Response Error
        [404]: user not found:  User ShC1360 not found"]}

        '
  recorded_at: Thu, 23 Jul 2026 19:02:07 GMT
- request:
    method: get
    uri: https://search-service.k8s.psu.edu/people/userid/ShC1360
    body:
      encoding: US-ASCII
      base64_string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":{"code":404,"message":""},"errorMessage":["Response Error
        [404]: user not found:  User ShC1360 not found"]}

        '
  recorded_at: Thu, 23 Jul 2026 19:02:08 GMT
recorded_with: VCR 6.4.0
