<% content_for :top_section_heading do %>
  <h1 class="navbar-brand navbar-brand--center slab-font"><%= t('navbar.heading.server_error') %></h1>
<% end %>

<div class="container-fluid">
  <div class="row row--md-mb-3">
    <div class="col-md">
      <h2 class="h4 mb-2"><%= t('errors.server_error.heading') %></h2>
      <div class="surface"><%= t('errors.server_error.content') %></div>
    </div>

    <%= render 'shared/search_or_browse' %>

  </div>

</div>
