.algolia-autocomplete {
  width: 100%;

  .aa-hint {
    color: $primary;
  }

  .aa-dropdown-menu {
    background-color: $white;
    border: $input-border-width solid $input-border-color;
    border-top: 0;
    width: 100%;

    // We need a margin-bottom on the dropdown menu to clear the sticky footer
    // on the work form. However, you cannot do margin-bottom on absolute
    // positioned elements like .aa-dropdown-menu. The following is a hack that
    // simulates what `margin-bottom: 100px` would do, if it worked.
    &::after {
      bottom: -100px;
      content: '';
      height: 100px;
      position: absolute;
      width: 1px;
    }

    .aa-suggestion {
      border-top: 1px solid $gray-200;
      cursor: pointer;
      padding: $input-padding-y $input-padding-x;
    }

    .aa-suggestion.aa-cursor {
      background-color: $gray-300;
    }
  }
}

.algolia-autocomplete .aa-input,
.algolia-autocomplete .aa-hint {
  width: 100%;
}

