.border-success {
  border-color: $success !important;
}

.bg-success {
  background-color: $success !important;
}

.text-success {
  color: $success !important;
}

.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.px-4 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.text-primary {
  color: $primary !important;
}
