.border-success {
  border-color: $success;
}

.bg-success {
  background-color: $success;
}

.text-success {
  color: $success;
}

.py-1 {
  padding-bottom: .25rem;
  padding-top: .25rem;
}

.px-4 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.text-primary {
  color: $primary;
}
