$gray-100: #fafafa;
$gray-300: #dbdbdb;
$gray-800: #4e4e4e;
$gray-85: #d9d9d9;
$black: #444;
$blue: #2c76c7;
$mid-blue: #095498;
$dark-blue: #1e407c;
$light-green: #dfd;
$dark-green: #025d04;
$red: #d73b2d;
$light-red: #fee;
$dark-red: #aa1a1c;
$orange: #b65e16;
$secondary: $orange;
$alert-info-text: #2a6e79;
$alert-warning-text: #614d14;

$font-size-lg: 18px;
$link-color: $mid-blue;
$body-color: $gray-800;
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Arial, sans-serif;
$font-weight-bold: 600;
$font-weight-bolder: 700;
$headings-font-weight: 600;
$slab-font-family: "Roboto Slab", "Rockwell", serif;
$h3-font-size: 1.5rem;
$h4-font-size: 1rem;
$h5-font-size: .7rem;
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .5),
    2: ($spacer * 1),
    3: ($spacer * 2),
    4: ($spacer * 4),
    5: ($spacer * 6),
    6: ($spacer * 10)
  ),
  $spacers
);

$btn-padding-x: 1.75rem;
$btn-padding-y: .375rem;
$btn-line-height-sm: 1.1;

$grid-breakpoints: (
  xs: 0,
  sm: 450px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1400px,
) !default;
$grid-gutter-width: 60px;

$box-shadow: 0 0 1rem rgba($black, .1);
$box-shadow-sm: 0 0 .25rem rgba($black, .075);

$navbar-brand-font-size: 1.5rem;
$navbar-padding-y: 0;
$navbar-nav-link-padding-x: $spacer;
$navbar-light-color: $dark-blue;
$navbar-light-hover-color: lighten($dark-blue, 10);
$navbar-light-active-color: lighten($dark-blue, 10);
$navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$navbar-light-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
$navbar-light-toggler-border-color: $dark-blue;

$dropdown-link-color: $dark-blue;
$dropdown-link-hover-color: lighten($dark-blue, 10);
$dropdown-padding-y: 0;

$input-btn-padding-y: .65rem;
$input-btn-padding-x: 1rem;

$badge-font-size: 60%;
$badge-padding-y: .3rem;
$badge-padding-x: .5rem;

$tooltip-font-size: 12px;

$table-border-width: 0;
$table-cell-padding: .4rem .5rem;

$nav-tabs-border-width: 0;
$nav-tabs-link-active-color: #fff;
$nav-tabs-link-active-bg: $blue;

$modal-inner-padding: 1.5rem;
$modal-header-padding-y: $modal-inner-padding;
$modal-header-padding-x: $modal-inner-padding;

// Diffs
$diff-del-bg: $light-red;
$diff-del-text: $dark-red;
$diff-del-highlight: #fcc;
$diff-ins-bg: $light-green;
$diff-ins-text: $dark-green;
$diff-ins-highlight: #a6f9a6;

// Analytics chart
$chart-line-color: $dark-blue;
$axis-stroke-color: $gray-300;
$axis-text-color: $gray-800;
$point-marker-color: $red;

$hr-margin-y: $spacer * 2;


$badge-colors: (
  "gray-100": $gray-100,
  "gray-300": $gray-300,
  "gray-800": $gray-800,
  "gray-85": $gray-85,
  "black": $black,
  "blue": $blue,
  "mid-blue": $mid-blue,
  "dark-blue": $dark-blue,
  "light-green": $light-green,
  "dark-green": $dark-green,
  "red": $red,
  "light-red": $light-red,
  "dark-red": $dark-red,
  "orange": $orange,
  "secondary": $secondary
);

