<% thumbnail_component = ThumbnailComponent.new(resource: resource) %>
<div class="row mb-3 no-gutters d-flex flex-row flex-nowrap">
  <div class="col">
    <% if thumbnail_component.display_thumbnail? %>
      <div class="thumbnail-card d-none d-md-flex align-items-center mb-1">
        <div class="resource-page-thumbnail">
          <div><%= render thumbnail_component %></div>
        </div>
      </div>
    <% end %>

    <div>
      <h1 class="h2 mb-3"><%= resource.title %></h1>
      <%= resource.description_html %>
    </div>
  </div>
</div>
