<div class="keyline keyline--left">
  <h2 class="h4"><%= I18n.t('shared.thumbnail_heading') %></h2>
</div>

<div class="m-2 thumbnail-meta mx-auto"><%= render ThumbnailComponent.new(resource: resource) %></div>
