---
http_interactions:
- request:
    method: get
    uri: https://search-service.k8s.psu.edu/search-service/resources/people/userid/agw13
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd-psu.edu-v1+json
      X-Content-Security-Policy:
      - frame-ancestors 'none'
      Uniqueid:
      - ad8460eb-7cb5-4f06-b6e1-0d12888e973b
    body:
      encoding: UTF-8
      string: '{"userid":"agw13","cprid":"2784093","givenName":"Adam","middleName":"Garner","familyName":"Wead","preferredGivenName":"Adam","preferredFamilyName":"Wead","active":true,"confHold":false,"universityEmail":"agw13@psu.edu","serviceAccount":false,"affiliation":["STAFF"],"displayName":"Adam
        Wead","link":{"href":"https://dev.apps.psu.edu/cpr/resources/2784093"}}'
  recorded_at: Tue, 16 Mar 2021 15:15:39 GMT
- request:
    method: get
    uri: https://pub.orcid.org/v2.1/abc123/person
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"response-code":404,"developer-message":"404 Not Found: The resource
        was not found. Full validation error: ORCID iD abc123 not found","user-message":"The
        resource was not found.","error-code":9016,"more-info":"https://members.orcid.org/api/resources/troubleshooting"}'
  recorded_at: Tue, 16 Mar 2021 15:15:39 GMT
recorded_with: VCR 6.0.0
