---
http_interactions:
- request:
    method: put
    uri: https://api.test.datacite.org/dois/invalid
    body:
      encoding: UTF-8
      string: '{"data":{"type":"dois","id":"invalid","attributes":{"titles":[{"title":"Work
        Title"}]}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":"404","title":"The resource you are looking for
        doesn''t exist."}]}'
  recorded_at: Thu, 05 Dec 2019 20:44:04 GMT
recorded_with: VCR 5.0.0
