<div class="form-wrapper form-wrapper--wide">
  <div class="keyline keyline--left mb-3">
    <h4><%= t('dashboard.form.members.heading') %></h4>
  </div>
</div>

<div id="works"
     data-controller="associations"
     data-associations-post="<%= dashboard_form_collection_memberships_path %>"
     data-associations-wrapper-class="js-work-wrapper"
     data-associations-badge-class="badge--index"
     data-associations-position-class="js-position-index">
  <%= form.fields_for :collection_work_memberships do |work_membership| %>
    <%= render 'dashboard/form/members/work_membership_fields', form: work_membership %>
  <% end %>
</div>
