---
http_interactions:
- request:
    method: get
    uri: https://graph.microsoft.com/v1.0/me/memberOf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer xxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"North Central US","Slice":"SliceC","Ring":"3","ScaleUnit":"001","RoleInstance":"AGSFE_IN_0"}}'
      Odata-Version:
      - '4.0'
    body:
      encoding: ASCII-8BIT
      string: '{}'
  recorded_at: Tue, 28 Jul 2020 20:17:06 GMT
recorded_with: VCR 6.0.0
