<%= form.fields_for :user do |user_fields| %>

  <div class="mb-3">
    <div class="form-check">
      <%= user_fields.check_box :admin_enabled, class: 'form-check-input' %>

      <%= user_fields.label :admin_enabled, class: 'form-check-label' %>
    </div>
  </div>

<% end %>
