<%= form.fields_for :user do |user_fields| %>

  <div class="form-group">
    <div class="form-check">
      <%= user_fields.check_box :opt_in_stats_email, class: 'form-check-input' %>

      <%= user_fields.label :opt_in_stats_email, class: 'form-check-label' %>
    </div>
  </div>

<% end %>
