---
http_interactions:
- request:
    method: get
    uri: https://identity.apps.psu.edu/search-service/resources/people/userid/cam156
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd-psu.edu-v1+json
      Uniqueid:
      - 278847df-9c06-412c-975c-4b6026876cef
      X-Content-Security-Policy:
      - frame-ancestors 'none'
    body:
      encoding: UTF-8
      string: '{"status":{"code":404,"message":"NOT_FOUND"},"errorMessage":["No person
        matched the input userid: cam156"],"link":null}'
  recorded_at: Tue, 14 Apr 2020 17:59:05 GMT
recorded_with: VCR 5.0.0
