<h1><%= t('dashboard.collections.index.heading') %></h1>
<%= link_to t('dashboard.collections.index.new'), new_dashboard_collection_path, class: 'btn btn-large btn-success' %>

<div class="collection-list">
  <%= render partial: 'index_collection', collection: @collections %>
</div>
