<%# TODO extract this to a smart partial/helper/presenter %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to t('dashboard.collections.index.heading'), dashboard_collections_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= t('dashboard.collections.new.heading') %></li>
  </ol>
</nav>

<h1><%= t('dashboard.collections.new.heading') %></h1>

<div class="row">
  <div class="col-sm-8">
    <%= render 'form', collection: @collection, works: @works %>
  </div>
</div>
