<div class="version-timeline">
  <% changes_by_work_version.each do |work_version, changes| %>
    <div class="col-md-6 col-lg-4 col-xxl-3 version-timeline__version">
      <h3 class="h4">
        <%= work_version.display_version_long %>
        <%= render WorkVersions::StatusBadgeComponent.new(work_version: work_version) %>
      </h3>

      <ul id="work_version_changes_<%= work_version.id %>" class="version-timeline__list mt-3">
        <% changes.each do |change_component_attributes| %>
          <%= render change_component_attributes[:component].new(**change_component_attributes[:locals]) %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
