---
http_interactions:
- request:
    method: get
    uri: https://identity.apps.psu.edu/search-service/resources/people/userid/agw13
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd-psu.edu-v1+json
      X-Content-Security-Policy:
      - frame-ancestors 'none'
      Uniqueid:
      - 435e119d-6303-401a-9d5a-6b7d8e2a0962
    body:
      encoding: UTF-8
      string: '{"userid":"agw13","cprid":"2784093","givenName":"Adam","middleName":"Garner","familyName":"Wead","preferredGivenName":"Adam","preferredFamilyName":"Wead","active":true,"confHold":false,"universityEmail":"agw13@psu.edu","serviceAccount":false,"affiliation":["STAFF"],"displayName":"Adam
        Wead","link":{"href":"https://dev.apps.psu.edu/cpr/resources/2784093"}}'
  recorded_at: Tue, 16 Mar 2021 15:15:49 GMT
- request:
    method: get
    uri: https://pub.orcid.org/v2.1/0000-0001-9500-0828/person
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"last-modified-date":null,"name":{"created-date":{"value":1460756163930},"last-modified-date":{"value":1460756163930},"given-names":{"value":"Adam"},"family-name":{"value":"Coughlin"},"credit-name":null,"source":null,"visibility":"PUBLIC","path":"0000-0001-9500-0828"},"other-names":{"last-modified-date":null,"other-name":[],"path":"/0000-0001-9500-0828/other-names"},"biography":null,"researcher-urls":{"last-modified-date":null,"researcher-url":[],"path":"/0000-0001-9500-0828/researcher-urls"},"emails":{"last-modified-date":null,"email":[],"path":"/0000-0001-9500-0828/email"},"addresses":{"last-modified-date":null,"address":[],"path":"/0000-0001-9500-0828/address"},"keywords":{"last-modified-date":null,"keyword":[],"path":"/0000-0001-9500-0828/keywords"},"external-identifiers":{"last-modified-date":null,"external-identifier":[],"path":"/0000-0001-9500-0828/external-identifiers"},"path":"/0000-0001-9500-0828/person"}'
  recorded_at: Tue, 16 Mar 2021 15:15:49 GMT
recorded_with: VCR 6.0.0
