---
http_interactions:
- request:
    method: post
    uri: https://psu.libanswers.com/api/1.1/oauth/token
    body:
      encoding: UTF-8
      string: client_id=779APP-001&client_secret=abcdefg12345&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Backend-Server:
      - libanswers-us-4.springyaws.com
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"212f9d41c3ad9bd2c568dcac90d0859d113d930c","expires_in":86400,"token_type":"Bearer","scope":"app_view
        app_create app_update"}'
  recorded_at: Thu, 24 Oct 2024 19:18:36 GMT
- request:
    method: post
    uri: https://psu.libanswers.com/api/1.1/ticket/create
    body:
      encoding: UTF-8
      string: 'quid=2590&pquestion=ScholarSphere Deposit Accessibility Curation: Quidem:
        "saepe, provident, optio; 916th aut''s qui''s eius"&pname=Duane Runte&pemail=DzP538@psu.edu'
    headers:
      Authorization:
      - Bearer 212f9d41c3ad9bd2c568dcac90d0859d113d930c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Backend-Server:
      - libanswers-us-1.springyaws.com
    body:
      encoding: ASCII-8BIT
      string: '{"isShared":false,"ticketUrl":"\/admin\/ticket?qid=14782286","claimed":0}'
  recorded_at: Thu, 24 Oct 2024 19:18:37 GMT
recorded_with: VCR 6.1.0
