---
http_interactions:
- request:
    method: get
    uri: https://search-service.k8s.psu.edu/search-service/resources/people/userid/dmc186
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd-psu.edu-v1+json
      X-Content-Security-Policy:
      - frame-ancestors 'none'
      Uniqueid:
      - e4673bd2-ee1e-4af9-a08f-1132942346b2
    body:
      encoding: UTF-8
      string: '{"userid":"dmc186","cprid":"722576","givenName":"Daniel","middleName":"M","familyName":"Coughlin","active":true,"confHold":false,"universityEmail":"dmc186@psu.edu","serviceAccount":false,"affiliation":["FACULTY","STAFF"],"displayName":"Daniel
        M Coughlin","link":{"href":"https://dev.apps.psu.edu/cpr/resources/722576"}}'
  recorded_at: Thu, 18 Mar 2021 15:08:40 GMT
recorded_with: VCR 6.0.0
