---
http_interactions:
- request:
    method: get
    uri: https://search-service.k8s.psu.edu/people/userid/dmc186
    body:
      encoding: US-ASCII
      base64_string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"userid":"dmc186","cprid":"722576","givenName":"Daniel","middleName":"M","familyName":"Coughlin","honorificPrefix":"","honorificSuffix":"","preferredGivenName":"Dan","preferredMiddleName":"","preferredFamilyName":"Coughlin","preferredHonorificPrefix":"","preferredHonorificSuffix":"","active":true,"confHold":false,"universityEmail":"dmc186@psu.edu","otherEmail":"","serviceAccount":false,"primaryAffiliation":"FACULTY","affiliation":["FACULTY","STAFF"],"altUserids":[],"link":{"href":"https://cpr.k8s.psu.edu/cpr/resources/722576"},"displayName":"Dan
        Coughlin"}

        '
  recorded_at: Thu, 14 Aug 2025 19:15:37 GMT
recorded_with: VCR 6.3.1
