---
http_interactions:
- request:
    method: post
    uri: https://pdf-services.adobe.io/token
    body:
      encoding: UTF-8
      string: client_id=adobe_client_id&client_secret=adobe_client_secret
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"eyJhbGciOiJSUzI1NiIsIng1dSI6Imltc19uYTEta2V5LWF0LTEuY2VyIiwia2lkIjo","token_type":"bearer","expires_in":86399}'
  recorded_at: Wed, 23 Oct 2024 12:27:27 GMT
- request:
    method: post
    uri: https://pdf-services.adobe.io/assets
    body:
      encoding: UTF-8
      string: '{"mediaType":"application/pdf"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJSUzI1NiIsIng1dSI6Imltc19uYTEta2V5LWF0LTEuY2VyIiwia2lkIjo
      X-Api-Key:
      - adobe_client_id
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error": {"code": "BAD_REQUEST","message": "Bad Request."}}'
  recorded_at: Wed, 23 Oct 2024 12:27:32 GMT
