<div class="form-wrapper form-wrapper--wide">
  <div class="keyline keyline--left mb-3">
    <h4><%= t('dashboard.form.contributors.edit.instrument_contributors_heading') %></h4>
  </div>
</div>

<div class="form-wrapper">
  <%= render 'form_fields/text', form: form, attribute: :owner %>
  <%= render 'form_fields/text', form: form, attribute: :manufacturer %>
</div>
