---
http_interactions:
- request:
    method: post
    uri: https://psu.libanswers.com/api/1.1/oauth/token
    body:
      encoding: UTF-8
      string: client_id=779APP-001&client_secret=abcdefg12345&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: Error
    headers:
      Content-Type:
      - application/json
      X-Backend-Server:
      - libanswers-us-3.springyaws.com
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"8dfaa8f2a31050918bc700fd22a4ca085a76f672","expires_in":86400,"token_type":"Bearer","scope":"app_view
        app_create app_update"}'
  recorded_at: Thu, 24 Oct 2024 16:57:39 GMT
- request:
    method: post
    uri: https://psu.libanswers.com/api/1.1/ticket/create
    body:
      encoding: UTF-8
      string: 'quid=2590&pquestion=Scholarsphere Alternate Format Request: Iste et
        facere rerum.&pname=Gov. Diane Doyle&pemail=lavonda_koelpin@wuckert.info&pdetails=Autem
        earum voluptate cupiditate. | Work url: http://little-purdy.org/marcell&'
    headers:
      Authorization:
      - Bearer 8dfaa8f2a31050918bc700fd22a4ca085a76f672
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json
      X-Backend-Server:
      - libanswers-us-4.springyaws.com
    body:
      encoding: ASCII-8BIT
      string: '{"error": "Error saving ticket."}'
  recorded_at: Thu, 24 Oct 2024 16:57:39 GMT
recorded_with: VCR 6.1.0
