---
http_interactions:
- request:
    method: get
    uri: https://graph.microsoft.com/v1.0/me/memberOf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer xxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Central US","Slice":"SliceC","Ring":"2","ScaleUnit":"001","RoleInstance":"AGSFE_IN_1"}}'
      Odata-Version:
      - '4.0'
    body:
      encoding: ASCII-8BIT
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#directoryObjects","@odata.nextLink":"https://graph.microsoft.com/v1.0/me/memberOf?$top=20&$skiptoken=X%27445370740A000100000000000000001400000058359D075F78204ABB74C85141BA106501000000000000000000000000000017312E322E3834302E3131333535362E312E342E32333331060000000000011052586DC947CC459B0DEF539FC6151601120000000100000000%27","value":[{"@odata.type":"#microsoft.graph.group","id":"75803529-44ed-4a47-8051-877015e8047d","deletedDateTime":null,"classification":null,"createdDateTime":"2017-06-01T20:54:50Z","creationOptions":["YammerProvisioning"],"description":"A
        group for people who work in IT at Penn State - think of Network of People
        on yammer, but no email!","displayName":"PSU IT","expirationDateTime":null,"groupTypes":["Unified"],"isAssignableToRole":null,"mail":"psuit@PennStateOffice365.onmicrosoft.com","mailEnabled":true,"mailNickname":"psuit","membershipRule":null,"membershipRuleProcessingState":null,"onPremisesDomainName":null,"onPremisesLastSyncDateTime":null,"onPremisesNetBiosName":null,"onPremisesSamAccountName":null,"onPremisesSecurityIdentifier":null,"onPremisesSyncEnabled":null,"preferredDataLocation":null,"preferredLanguage":null,"proxyAddresses":["SPO:SPO_87ca8b60-e941-4a77-9ab9-2508920f9a15@SPO_7cf48d45-3ddb-4389-a9c1-c115526eb52e","SMTP:psuit@PennStateOffice365.onmicrosoft.com"],"renewedDateTime":"2017-06-01T20:54:50Z","resourceBehaviorOptions":["YammerProvisioning"],"resourceProvisioningOptions":[],"securityEnabled":false,"securityIdentifier":"S-1-12-1-1971336489-1246184685-1887916416-2097473557","theme":null,"visibility":"Public","onPremisesProvisioningErrors":[]},{"@odata.type":"#microsoft.graph.group","id":"4dac89fa-2e9a-471d-b1eb-38ee5736d626","deletedDateTime":null,"classification":null,"createdDateTime":"2017-06-23T20:14:15Z","creationOptions":["YammerProvisioning"],"description":"ITS
        DLT","displayName":"ITS DLT","expirationDateTime":null,"groupTypes":["Unified"],"isAssignableToRole":null,"mail":"itsdlt@PennStateOffice365.onmicrosoft.com","mailEnabled":true,"mailNickname":"itsdlt","membershipRule":null,"membershipRuleProcessingState":null[...]
- request:
    method: get
    uri: https://graph.microsoft.com/v1.0/me/memberOf?$skiptoken=X%27445370740A000100000000000000001400000058359D075F78204ABB74C85141BA106501000000000000000000000000000017312E322E3834302E3131333535362E312E342E32333331060000000000011052586DC947CC459B0DEF539FC6151601120000000100000000%27&$top=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer xxxx
  response:
    status:
      code: 200
      message: OK
    headers:
 [...]
[...]
