<div class="bg-dark-blue pr-0">
  <% if content_for? :navbar_items %>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbar-toggle"
            aria-controls="navbar-toggle"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <% end %>

  <%= yield :navbar_heading %>

  <div class="collapse navbar-collapse" id="navbar-toggle">
    <ul class="navbar-nav">

      <% if content_for? :navbar_items %>
        <%= yield :navbar_items %>
      <% else %>

        <%# Fill-out the navbar with empty space so that the headings will appear %>
        <li class="nav-item">
          <span class='navbar-filler' />
        </li>
      <% end %>

    </ul>
  </div>
</div>
