<div class="container-fluid">
  <div class="row">
    <div class="col-lg-9 order-last">
      <%= yield %>
    </div>
    <div class="col-lg-3 order-first">
      <aside class="sidebar">
         <%= content_for(:sidebar) %>
      </aside>
    </div>
  </div>
</div>
