<% content_for :navbar_heading do %>
  <h1 class="navbar-brand navbar-brand--center slab-font"><%= t("navbar.heading.#{@page}") %></h1>
<% end %>

<% content_for :content do %>
  <div class="container">
    <div class="row row--md-mb-3">
      <div class="col-md">
        <%= yield %>
      </div>
    </div>
  </div>
<% end %>

<%= render template: 'layouts/frontend' %>
